

<link href="~/dist/css/bootstrap-combined.min.css" rel="stylesheet" />
<link href="~/dist/css/layoutit.css" rel="stylesheet" />
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form class="form-search form-inline">
				<input class="input-medium search-query" placeholder="请输入关键字搜寻" type="text" /> <button type="submit" class="btn">查找</button>
			</form>
			<table class="table table-condensed table-hover table-bordered">
				<thead>
					<tr>
						<th>
							序号
						</th>
						<th>
							名称
						</th>
						<th>
							图标
						</th>
						<th>
							链接地址
						</th>
						<th>
							是否显示
						</th>
						<th>
							是否系统默认
						</th>
						<th>
							备注
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="success">
						<td>
							1
						</td>
						<td>
							1
						</td>
						<td>
							1
						</td>
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Default
						</td>
						<td>
							<input type=""
						</td>
					</tr>
				</tbody>
			</table>
			<div class="pagination">
				<ul>
					<li>
						<a href="#">上一页</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">下一页</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>